<%- include('partials/_header'); %>

<%- include('partials/_navigation'); %>

<% if(user) { %>
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Movies</h1>
		</div>
	</div>
<div id="overviews" class="section wb">
	<div class="container">
		<div class="row">
		<% if (flashMessages) { %>
			<% if (flashMessages.success) { %>
			<div class="alert alert-success">
				<%= flashMessages.success %>
			</div>
				<% } else if (flashMessages.error) { %>
			<div class="alert alert-danger">
				<%= flashMessages.error %>
			</div>
				<% } %>
		<% } %>
		</div><!-- end row -->

			<div class="row mt-5">
				<% for (let i=0; i< movies.length; i++) { %>
					<% if ( movies[i].isShared == true) { %>
				<div class="col-lg-6 col-md-6 col-12 border">
					<div class="movie-item mb-5">
						<div class="image-blog">
						<img src="/images/no-picture-movies.jpg" alt="" class="img-fluid">
						</div>
						<div class="movie-br">
							<div class="movie-title">
							<h2><a href="/movies/<%= movies[i].id %>" title=""><%= movies[i].name %></a></h2>
							</div>
							<div class="movie-desc">
								<p><span><b>Plot:</b>	</span><%= movies[i].plot %> </p>
							</div>
							<div class="movie-likes">
								<p><span><b>Likes:</b>	</span><%= movieLikes[i].length %> </p>
							</div>
							<% if (movieComments[i].length > 0) { %>
								<div class="movie-comment">
									<ul>
										<li>
											<span><b>Comments:&nbsp;</b></span>
										</li>
										<% for (let j=0; j< movieComments[i].length; j++) { %>						
											<div class="movie-comment">
												<p><%= movieComments[i][j].comment %></p>
											</div>
										<% } %>
									</ul>
								</div>
							<% } %>
							<div class="clearfix">
								<ul style="list-style-type: none;">
									<li style="float: right;">
										<button class="btn btn-primary rounded-0 text-white"
										data-toggle="modal" data-target="#addMovieComment<%= movies[i].id %>"
										><span>Comment</span>
										</button>
									</li>
										<% if(!userLiked[i]) { %>	
									<li style="float: right;">
										<a href="/movieLikes/<%= movies[i].id %>?_method=POST" class="btn btn-danger rounded-0 text-white">
											<span>Like</span>
										</a>
									</li>
										<% } else{%>
									<li style="float: right;">
										<a href="/movieLikes/<%= movies[i].id %>?_method=DELETE" class="btn btn-danger rounded-0 text-white">
										<span>Unlike</span>
										</a>
									</li>
										<% } %>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- end col -->
				<% } %>
<!-- COMMENT Modal -->
<div class="modal fade" id="addMovieComment<%= movies[i].id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
<div class="modal-content">
<div class="modal-body customer-box">
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="Login">
			<form method="POST" action="/movieComments/<%= movies[i].id %>?_method=PUT" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" name="name" class="form-control"  placeholder="Comment" required>
					</div>
				</div>

				
				<div class="row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
							Submit
						</button>
						<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
							data-dismiss="modal" aria-hidden="true">
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>
</div>
							
						<% } %>

		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->

<!-- ADD Modal -->
<div class="modal fade" id="addMovie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	<div class="modal-content">
	<div class="modal-body customer-box">
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="Login">
				<form method="POST" action="/movies" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" name="name" class="form-control"  placeholder="Movie Name">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<textarea rows="8" name="plot" class="form-control"
							placeholder="Movie Plot" required></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
								Submit
							</button>
							<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
								data-dismiss="modal" aria-hidden="true">
								Cancel
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	

	<% } %>

<%- include('partials/_footer'); %>
