<%- include('partials/_header'); %>

<%- include('partials/_navigation'); %>

<% if(user) { %>
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Movie Stars</h1>
		</div>
	</div>
<div id="overviews" class="section wb">
	<div class="container">
		<div class="row">
		<% if (flashMessages) { %>
			<% if (flashMessages.success) { %>
			<div class="alert alert-success">
				<%= flashMessages.success %>
			</div>
				<% } else if (flashMessages.error) { %>
			<div class="alert alert-danger">
				<%= flashMessages.error %>
			</div>
				<% } %>
		<% } %>
		</div><!-- end row -->

			<div class="row mt-5">
				<% for (let i=0; i< movieStars.length; i++) { %>
					<% if ( movieStars[i].isShared == true) { %>
				<div class="col-lg-6 col-md-6 col-12 border">
					<div class="movieStar-item mb-5">
						<div class="image-blog">
						<img src="/images/no-picture-stars.jpg" alt="" class="img-fluid">
						</div>
						<div class="movieStar-br">
							<div class="movieStar-title">
							<h2><a href="/movieStars/<%= movieStars[i].id %>" title=""><%= movieStars[i].name %></a></h2>
							</div>
							<div class="movieStar-desc">
								<p><span><b>Surname:</b>	</span><%= movieStars[i].surname %> </p>
							</div>
							<div class="movieStar-likes">
								<p><span><b>Likes:</b>	</span><%= movieStarLikes[i].length %> </p>
							</div>
							<% if (movieStarComments[i].length > 0) { %>
								<div class="movieStar-comment">
									<ul>
										<li>
											<span><b>Comments:&nbsp;</b></span>
										</li>
										<% for (let j=0; j< movieStarComments[i].length; j++) { %>									
											<div class="movieStar-comment">
												<p><%= movieStarComments[i].comment %></p>
											</div>
										<% } %>
									</ul>
								</div>
							<% } %>
							<div class="clearfix">
								<ul style="list-style-type: none;">
									<li style="float: right;">
										<button class="btn btn-primary rounded-0 text-white"
										data-toggle="modal" data-target="#addMovieStarComment<%= movieStars[i].id %>"
										><span>Comment</span>
										</button>
									</li>
										<% if(!userLiked[i]) { %>	
									<li style="float: right;">
										<a href="/movieStarLikes/<%= movieStars[i].id %>?_method=POST" class="btn btn-danger rounded-0 text-white">
											<span>Like</span>
										</a>
									</li>
										<% } else{%>
									<li style="float: right;">
										<a href="/movieStarLikes/<%= movieStars[i].id %>?_method=DELETE" class="btn btn-danger rounded-0 text-white">
										<span>Unlike</span>
										</a>
									</li>
										<% } %>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- end col -->
				<% } %>
<!-- COMMENT Modal -->
<div class="modal fade" id="addMovieStarComment<%= movieStars[i].id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
<div class="modal-content">
<div class="modal-body customer-box">
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="Login">
			<form method="POST" action="/movieStarComments/<%= movieStars[i].id %>?_method=PUT" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" name="name" class="form-control"  placeholder="Comment" required>
					</div>
				</div>

				
				<div class="row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
							Submit
						</button>
						<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
							data-dismiss="modal" aria-hidden="true">
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>
</div>
							
						<% } %>

		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->

			<!-- ADD Modal -->
			<div class="modal fade" id="addMovieStar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
			<div class="modal-body customer-box">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form method="POST" action="/movieStars" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" name="name" class="form-control"  placeholder="MovieStar Name">
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<textarea rows="8" name="surname" class="form-control"
									placeholder="MovieStar Surname" required></textarea>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										Submit
									</button>
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
										data-dismiss="modal" aria-hidden="true">
										Cancel
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>

			
		<% } %>

<%- include('partials/_footer'); %>
